<div class="card">
    <div class="card-img-top">
        <img src="{{flags.svg}}" alt="{{name.official}}">
    </div>
    <div class="card-body">
        <h2 class="card-title">Полное имя страны: {{name.official}}</h2>
        <p class="card-text">Столица: {{capital}}</p>
        <p class="card-text">Население: {{population}}</p>
        {{#each languages}}
        <p class="card-text">Язык: {{this}}</p>
        {{/each}}

    </div>
</div>
